@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'PT Serif', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $text-color-primary;
}

.bold-uppercase {
  font-weight: 700;
  text-transform: uppercase;
}

.bold-lowercase {
  font-weight: 700;
}

.accent-text {
  color: $accent-text-color-primary;
}
