@import './utils/variables';
@import './utils/hidden';
@import './base/reset';
@import './base/common';
@import './components/section';
@import './components/container';
@import './components/btn';
@import './components/modal';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/quotation';
@import './layouts/advice';
@import './layouts/recommendation';
@import './layouts/test';
@import './layouts/test-questions';
