$bg-primary: #181818;
$bg-secondary: #f3f3f2;
$bg-modal: #181818;
$menu-icon-fill: #696969;
$close-btn-fill: #ffc700;
$arrow-up-fill: #0c0b10;
$arrow-up-bg: #ffffff;
$text-color-primary: #ffffff;
$text-color-secondary: #272727;
$text-color-thirdly: #181818;
$accent-text-color-primary: #ffc700;
$accent-text-color-secondary: #3bde7c;
$accent: #f4ce0c;
$btn-bg-primary: #ffc700;
$btn-bg-secondary: transparent;
$btn-text-color-primary: #0d0c11;
$btn-text-color-secondary: #ffffff;
$btn-border-primary: #ffc700;
$btn-border-secondary: #ffffff;
$brain-gradient: #2950c2;
$indicator-bg: #949597;
$answer-bg: #f2f3f3;
$disabled-btn: #dadada;
$disabled-btn-text: #8e8e8e;
