$bg-primary: #181818;
$bg-secondary: #f3f3f2;
$menu-icon-fill: #696969;
$close-btn-fill: #ffc700;
$arrow-up-fill: #0c0b10;
$arrow-up-bg: #ffffff;
$text-color-primary: #ffffff;
$text-color-secondary: #272727;
$accent-text-color-primary: #ffc700;
$accent-text-color-secondary: #3bde7c;
$btn-bg-primary: #ffc700;
$btn-text-color-primary: #0d0c11;
$btn-bg-secondary: transparent;
$btn-text-color-secondary: #ffffff;
$btn-text-border-secondary: #ffffff;
