<div class="advice">
  <div class="container">
    <p class="advice__description">
      Также по результатам теста <br />
      <span class="bold-uppercase">вы получите</span> подробные
      <span class="bold-uppercase">советы</span>
      по определению наиболее перспективной
      <span class="bold-uppercase">для вашего типа</span>
      <span class="bold-lowercase">интеллекта</span>
      <span class="bold-uppercase">сферы деятельности</span>, <br />
      которая принесет вам скорейший финансовый результат.
    </p>
    <div class="advice__img-container">
      <img
        src="./images/brain-characteristics-mob-1x.png"
        alt="Два полушария мозга, где правое отвечает за творческие навыки, а левое - за технические"
        width="232"
        height="180"
        class="advice__img"
      />
    </div>
    <a href="./test.html" class="btn-primary">Пройти тест</a>
  </div>
</div>
