<section class="benefits">
  <h2 class="is-hidden">Преимущества <span lang="en">IQ</span>-теста</h2>
  <div class="quotation" id="benefits">
    <div class="container">
      <h2></h2>
      <q class="quotation__text"
        ><svg width="23" height="22" class="quotation__quotes-open">
          <use href="./images/icons.svg#icon-quotes"></use>
        </svg>
        Профессиональный <br />
        <span lang="en">IQ</span>-тест позволяет не только определить
        коэффициент вашего интеллекта, <br />
        но и выработать список рекомендаций для повышения этого показателя.
        <svg width="23" height="22" class="quotation__quotes-close">
          <use href="./images/icons.svg#icon-quotes"></use>
        </svg>
      </q>
    </div>
  </div>
  <div class="advice">
    <div class="container">
      <p class="advice__description">
        Также по результатам теста <br />
        <span class="bold-uppercase">вы получите</span> подробные
        <span class="bold-uppercase">советы</span>
        по определению наиболее перспективной
        <span class="bold-uppercase">для вашего типа</span>
        <span class="bold-lowercase">интеллекта</span>
        <span class="bold-uppercase">сферы деятельности</span>, <br />
        которая принесет вам скорейший финансовый результат.
      </p>
      <div class="advice__img-container">
        <img
          src="./images/brain-characteristics-mob-1x.png"
          alt="Два полушария мозга, где правое отвечает за творческие навыки, а левое - за технические"
          width="232"
          height="180"
          class="advice__img"
        />
      </div>
      <a href="./test.html" class="btn-primary">Пройти тест</a>
    </div>
  </div>
  <div class="recommendation">
    <div class="container">
      <p class="recommendation__description">
        Прохождение теста займет у вас не более
        <span class="accent-text">12 минут</span>, а его результаты вы сможете
        <span class="accent-text">использовать всю жизнь.</span>
      </p>
      <p class="recommendation__description-window">
        Профессиональная интерпретация и детально
        <span class="bold-lowercase">проработанные рекомендации</span>
        позволят вам качественно
        <span class="bold-lowercase">изменить все аспекты своей жизни</span>: от
        финансового до любовного.
      </p>
      <a href="./test.html" class="btn-secondary">Пройти тест</a>
      <p class="copyright">&copy 2019</p>
    </div>
    <div class="lightning-right"></div>
    <div class="lightning-left"></div>
  </div>
</section>
