<section class="hero section">
  <div class="container">
    <p class="hero__pretitle">Пройдите точный и быстрый</p>
    <h1 class="hero__title">Тест на определение <span lang="en">IQ</span></h1>
    <div class="hero__brain-container"></div>
    <img src="./images/brain-mob-1x.png" alt="Мозг" class="hero__brain" />
    <button type="button" class="btn-primary">Пройти тест</button>
    <p class="hero__description">
      <span class="accent-text"
        >И получите рекомендации по развитию своего интеллекта</span
      >
      <br />
      и улучшению финансового благосостояния и личной жизни
    </p>
    <a href="/" class="hero__link-container">
      <div class="hero__arrow-container">
        <svg width="7" height="7" class="hero__arrow-icon">
          <use href="./images/icons.svg#icon-arrow-up"></use>
        </svg>
      </div>
      <p class="hero__link">Подробнее</p>
    </a>
  </div>
</section>
