<div class="quotation" id="benefits">
  <div class="container">
    <h2></h2>
    <q class="quotation__text"
      ><svg width="23" height="22" class="quotation__quotes-open">
        <use href="./images/icons.svg#icon-quotes"></use>
      </svg>
      Профессиональный <br />
      <span lang="en">IQ</span>-тест позволяет не только определить коэффициент
      вашего интеллекта, <br />
      но и выработать список рекомендаций для повышения этого показателя.
      <svg width="23" height="22" class="quotation__quotes-close">
        <use href="./images/icons.svg#icon-quotes"></use>
      </svg>
    </q>
  </div>
</div>
