<div class="recommendation">
  <div class="container">
    <p class="recommendation__description">
      Прохождение теста займет у вас не более
      <span class="accent-text">12 минут</span>, а его результаты вы сможете
      <span class="accent-text">использовать всю жизнь.</span>
    </p>
    <p class="recommendation__description-window">
      Профессиональная интерпретация и детально
      <span class="bold-lowercase">проработанные рекомендации</span>
      позволят вам качественно
      <span class="bold-lowercase">изменить все аспекты своей жизни</span>: от
      финансового до любовного.
    </p>
    <a href="./test.html" class="btn-secondary">Пройти тест</a>
    <p class="copyright">&copy 2019</p>
  </div>
  <div class="lightning-right"></div>
  <div class="lightning-left"></div>
</div>
