<section class="quiz">
  <div class="quiz__indicator"></div>
  <form class="quiz__form">
    <ul class="quiz__list">
      <li class="quiz__item--hidden">
        <p class="quiz__question">Ваш пол:</p>
        <ul class="quiz__answers-list">
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input"
              />Мужчина
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input"
              />Женщина
            </label>
          </li>
        </ul>
      </li>
      <li class="quiz__item--hidden">
        <p class="quiz__question">Укажите ваш возраст:</p>
        <ul class="quiz__answers-list">
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input type="radio" name="age" class="quiz__answer-input" />
              До 18
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input type="radio" name="age" class="quiz__answer-input" />
              От 18 до 28
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input type="radio" name="age" class="quiz__answer-input" />
              От 29 до 35
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input type="radio" name="age" class="quiz__answer-input" />
              От 36
            </label>
          </li>
        </ul>
      </li>
      <li class="quiz__item--hidden">
        <p class="quiz__question">Выберите лишнее:</p>
        <ul class="quiz__answers-list">
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="excess-buildind"
                class="quiz__answer-input"
              />
              Дом
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="excess-buildind"
                class="quiz__answer-input"
              />
              Шалаш
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="excess-buildind"
                class="quiz__answer-input"
              />
              Бунгало
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="excess-buildind"
                class="quiz__answer-input"
              />
              Скамейка
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="excess-buildind"
                class="quiz__answer-input"
              />
              Хижина
            </label>
          </li>
        </ul>
      </li>
      <li class="quiz__item--hidden">
        <p class="quiz__question">Продолжите числовой ряд: 18, 20, 24, 32</p>
        <ul class="quiz__answers-list">
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              62
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              48
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              74
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              57
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              60
            </label>
          </li>
          <li class="quiz__answers-item-text">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="number-series"
                class="quiz__answer-input"
              />
              77
            </label>
          </li>
        </ul>
      </li>
      <li class="quiz__item--active">
        <p class="quiz__question">
          Выберите цвет, который вам наиболее приятен:
        </p>
        <ul class="quiz__aswers-list-colors">
          <li class="quiz__answers-item-color grey">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color blue">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color green">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color red">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color yellow">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color brown">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color black">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color violet">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
          <li class="quiz__answers-item-color turquoise">
            <label class="quiz__answer-label">
              <input
                type="radio"
                name="gender"
                class="quiz__answer-input-color"
              />
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </form>
  <button type="button" class="btn-primary" disabled>Далее</button>
</section>
