<section class="questions">
  <div class="questions__indicator"></div>
  <p class="questions__question">Ваш пол:</p>
  <ul class="questions__aswers-list">
    <li class="questions__answers-item">
      <label class="questions__answers-label">
        <input type="radio" name="gender" class="questions__answers-input" />
        Мужчина
      </label>
    </li>
    <li class="questions__answers-item">
      <label class="questions__answers-label">
        <input type="radio" name="gender" class="questions__answers-input" />
        Женщина
      </label>
    </li>
  </ul>
  <button type="button" class="btn-primary" disabled>Далее</button>
</section>
