<section class="quiz">
  <div class="quiz__indicator"></div>
  <form class="quiz-form">
    <ul class="quiz__list">
      <li class="quiz__item">
        <p class="quiz__question">Ваш пол:</p>
        <ul class="quiz__aswers-list">
          <li class="quiz__answers-item text">
            <label class="quiz__answer-label">
              <input type="radio" name="gender" class="quiz__answer-input" />
              Мужчина
            </label>
          </li>
          <li class="quiz__answers-item text">
            <label class="quiz__answer-label">
              <input type="radio" name="gender" class="quiz__answer-input" />
              Женщина
            </label>
          </li>
        </ul>
      </li>
    </ul>
  </form>
  <button type="button" class="btn-primary" disabled>Далее</button>
</section>
