%btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 18px;
  min-width: 189px;
  border: 1px solid transparent;
  border-radius: 50px;
  font-family: 'Merriweather';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn-primary {
  @extend %btn;
  color: $btn-text-color-primary;
  background-color: $btn-bg-primary;
  border-color: $btn-border-primary;
}

.btn-secondary {
  @extend %btn;
  color: $btn-text-color-secondary;
  border-color: $btn-border-secondary;
  background-color: $btn-bg-secondary;
}
