.modal {
  position: fixed;
  inset: 0;
  padding: 23px;
  z-index: 5;
  overflow-y: auto;
  background-color: $bg-modal;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal__close-btn {
  position: absolute;
  top: 18px;
  right: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-color: transparent;
}

.modal__close-icon {
  fill: $close-btn-fill;
}

.modal__nav-menu-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 87px;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  line-height: 1.37;
  text-transform: uppercase;
  color: $text-color-primary;
}

.modal__nav-menu-item:hover,
.modal__nav-menu-item:focus {
  text-decoration: underline;
}

.modal__accent {
  color: $accent;
}
