.advice {
  color: $text-color-secondary;
  padding-top: 38px;
  padding-bottom: 38px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11px;
    padding-right: 11px;
  }

  & .btn-primary {
    min-width: 200px;
  }
}

.advice__description {
  padding-right: 21px;
}

.advice__img-container {
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  width: 232px;
}

.advice__img {
  width: 100%;
}
