.quotation {
  padding-top: 83px;
  padding-bottom: 54px;
  background-image: radial-gradient(
      84.34% 50.29% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    ),
    url('../images/blue-bg-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & .container {
    padding-left: 36px;
    padding-right: 36px;
    text-align: center;
  }
}

.quotation__text {
  position: relative;
  font-family: 'Yeseva One';
  font-size: 18px;
  line-height: 1.27;
  fill: $text-color-primary;
}

.quotation__text::before,
.quotation__text::after {
  content: '';
}

.quotation__quotes-open {
  position: absolute;
  top: -39px;
  left: -35px;
  width: 23px;
  height: 22px;
}

.quotation__quotes-close {
  position: absolute;
  bottom: -23px;
  right: -64px;
  width: 23px;
  height: 22px;
  transform: rotate(-180deg);
}

.advice {
  color: $text-color-secondary;
  padding-top: 38px;
  padding-bottom: 38px;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 11px;
    padding-right: 11px;
  }

  & .btn-primary {
    min-width: 200px;
  }
}

.advice__description {
  padding-right: 21px;
}

.advice__img-container {
  margin-top: 38px;
  margin-left: auto;
  margin-right: auto;
  width: 232px;
}

.advice__img {
  width: 100%;
}

.recommendation {
  position: relative;
  padding-top: 56px;
  padding-bottom: 13px;
  font-family: 'Merriweather';
  line-height: 1.43;
  background-image: url('../images/starry-sky-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  & .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  & .accent-text {
    font-weight: 900;
  }

  & .btn-secondary {
    position: relative;
    z-index: 1;
    margin-top: 33px;
    min-width: 200px;
  }
}

.recommendation__description {
  position: relative;
  z-index: 1;
  font-size: 15px;
}

.recommendation__description-window {
  position: relative;
  z-index: 1;
  margin-top: 20px;
  padding: 26px 14px;
  border-radius: 20px;
  color: $text-color-thirdly;
  background-color: rgba(243, 243, 242, 0.8);
}

.copyright {
  margin-top: 52px;
  font-family: 'Roboto';
  font-size: 10px;
  line-height: 2.3;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}

.lightning-right {
  position: absolute;
  top: 64px;
  right: -21px;
  width: 165px;
  height: 165px;
  background-image: url('../images/lightning-right-mob-1x.png');
  background-repeat: no-repeat;
  background-position: center;
}

.lightning-left {
  position: absolute;
  bottom: 32px;
  left: -21px;
  width: 165px;
  height: 165px;
  background-image: url('../images/lightning-left-mob-1x.png');
  background-repeat: no-repeat;
  background-position: center;
}
