header {
  position: relative;
  background-color: $bg-primary;
  padding-top: 15px;
  padding-bottom: 15px;

  & .container {
    display: flex;
    align-items: center;
    gap: 9px;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: 768px) {
      justify-content: center;
    }
  }
}

.nav-menu-list {
  display: none;

  @media (min-width: 768px) {
    display: flex;
    gap: 20px;
  }

  @media (min-width: 1200px) {
    display: flex;
    gap: 80px;
  }
}

.header__menu-btn {
  width: 24px;
  height: 16px;
  background-color: transparent;
  border-color: transparent;

  @media (min-width: 768px) {
    display: none;
  }
}

.header__menu-icon {
  fill: $menu-icon-fill;
}

.header__brain-container {
  width: 48px;
  height: 47px;
  background-image: url('../images/brain-mob-1x.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.header__text {
  font-family: 'Yeseva One';
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  color: $accent-text-color-primary;
}
