header {
  position: relative;
  background-color: $bg-primary;
  padding-top: 15px;
  padding-bottom: 15px;

  & .container {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header__menu-btn {
  width: 24px;
  height: 16px;
  background-color: transparent;
  border-color: transparent;
}

.header__menu-icon {
  fill: $menu-icon-fill;
}
