.quiz {
  position: fixed;
  width: 100vw;
  height: calc(100% - 47px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 17px;
  padding-bottom: 25px;
  font-size: 18px;
  background-color: $bg-primary;
  background-image: url('../images/starry-sky-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & .btn-primary {
    margin-top: auto;
  }
}

.quiz__indicator {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  width: 80%;
  height: 11px;
  border-radius: 10px;
  background-color: $indicator-bg;
}

.quiz__form {
  flex-grow: 1;
}

.quiz__list {
  height: 100%;
}

.quiz__item--visible {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.quiz__item--hidden {
  @extend .is-hidden;
}

.quiz__question {
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}

.quiz__answers-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quiz__answers-item-text {
  width: 100%;
  background: rgba(242, 243, 243, 0.15);
}

.quiz__answers-item-text:has(.quiz__answer-input:checked) {
  color: $text-color-secondary;
  background-color: $active-answer;
}

.quiz__answer-label {
  display: flex;
  align-items: center;
  gap: 39px;
  padding: 12px 35px;
  width: 100%;
  height: 100%;
}

.quiz__answer-label:has(.quiz__answer-input[name='life-style']) {
  gap: 15px;
}

.quiz__answer-input {
  flex-shrink: 0;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.quiz__answer-input:checked {
  border-color: #272727;
  background-color: $active-input-circle;
}

.quiz__answers-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 18px;
}

.quiz__answers-list:has(.quiz__answer-input[name='life-style']) {
  gap: 19px;
}

.quiz__answers-list-colors {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 24px;
}

.quiz__answers-item-color {
  width: 69px;
  height: 69px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.quiz__answers-item-color:has(.quiz__answer-input-color:checked) {
  border: 6px solid $active-answer;
}

.grey {
  background-color: #a8a8a8;
}

.blue {
  background-color: #0000a9;
}

.green {
  background-color: #00a701;
}

.red {
  background-color: #f60100;
}

.yellow {
  background-color: #fdff19;
}

.brown {
  background-color: #a95403;
}

.black {
  background-color: #000000;
}

.violet {
  background-color: #850068;
}

.turquoise {
  background-color: #46b2ac;
}

.quiz__answer-input-color {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quiz__answer-input-color:checked + .quiz__answer-label::before {
  content: none;
}

.quiz__question-figures {
  @extend .quiz__question;
  max-width: 290px;
  font-size: 18px;
}

.quiz__figures-img-container {
  width: 185px;
  height: 235px;
  margin-left: auto;
  margin-right: auto;
}

.quiz__figures-img {
  width: 100%;
}

.quiz__answers-list-figures {
  display: flex;
  justify-content: space-around;
}

.quiz__answers-item-figure {
  width: 41px;
  height: 41px;
  color: $answer-text;
  background-color: $answer-bg-secondary;
}

.quiz__answers-item-figure:has(.quiz__answer-input-figure:checked) {
  border: 6px solid $active-answer;
}

.quiz__answer-input-figure {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.quiz__answer-input-figure:checked + .quiz__answer-label-figure::before {
  content: none;
}

.quiz__answer-label-figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.quiz__geometric-img-container {
  margin-left: auto;
  margin-right: auto;
  width: 173px;
  height: 115px;
}

.quiz__geometric-img {
  width: 100%;
  height: 100%;
}

.smaller-text {
  font-size: 16px;
}
