.results {
  position: fixed;
  width: 100vw;
  height: calc(100% - 47px);
  padding-top: 17px;
  padding-bottom: 25px;
  background-color: $bg-primary;
  background-image: url('../images/starry-sky-mob-1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  overflow-y: auto;

  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  & .loader {
    margin-top: 33px;

    @media (min-width: 768px) {
      margin-top: 55px;
    }

    @media (min-width: 1200px) {
      margin-top: 75px;
    }
  }

  @media (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 52px;
  }
}

.results__calculated-title {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.07;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 17px;
  }

  @media (min-width: 1200px) {
    font-size: 22px;
  }
}

.results__calculated-description {
  margin-top: 13px;
  max-width: 300px;
  font-size: 14px;
  line-height: 1.29;

  @media (min-width: 768px) {
    max-width: 480px;
    font-size: 15px;
  }

  @media (min-width: 1200px) {
    max-width: 700px;
    font-size: 18px;
  }
}

.results__hurry {
  margin-top: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $accent-text-color-secondary;

  @media (min-width: 768px) {
    margin-top: 32px;
    font-size: 20px;
  }

  @media (min-width: 1200px) {
    margin-top: 45px;
    font-size: 26px;
  }
}

.results__secure {
  margin-top: 12px;
  padding: 15px 12px;
  max-width: 256px;
  border-radius: 6px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 8px;
  line-height: 1.75;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: $comment-bg;

  @media (min-width: 768px) {
    margin-top: 22px;
    padding: 18px 16px;
    max-width: 435px;
    font-size: 10px;
  }

  @media (min-width: 1200px) {
    margin-top: 30px;
    padding: 20px 18px;
    max-width: 570px;
    font-size: 12px;
  }
}

.results__acception-time {
  margin-top: 13px;
  max-width: 240px;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 0.1em;
  color: $accent-text-color-secondary;

  @media (min-width: 768px) {
    margin-top: 20px;
    max-width: 340px;
    font-size: 14px;
  }

  @media (min-width: 1200px) {
    margin-top: 30px;
    max-width: 400px;
    font-size: 18px;
  }
}

.results__timer {
  font-size: 20px;
  line-height: 1.5;

  @media (min-width: 768px) {
    font-size: 22px;
  }

  @media (min-width: 1200px) {
    font-size: 24px;
  }
}

.results__call-btn {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-top: 10px;
  padding: 25px 15px;
  max-width: 290px;
  border: 1px solid $call-btn-bg;
  border-radius: 5px;
  color: $text-color-primary;
  background-color: $call-btn-bg;

  &:hover > .results__call-text {
    text-decoration: underline;
  }

  @media (min-width: 768px) {
    margin-top: 25px;
    padding: 28px 20px;
    max-width: 440px;
  }

  @media (min-width: 1200px) {
    margin-top: 32px;
    padding: 30px 22px;
  }
}

.results__call-img {
  fill: currentColor;
}

.results__call-text {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 15px;
  line-height: 1.2;
  text-align: start;
  letter-spacing: 0.05em;

  @media (min-width: 768px) {
    font-size: 16px;
  }

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.results__lighting-right {
  position: absolute;
  top: 367px;
  right: -89px;
  width: 175px;
  height: 175px;
  background-image: url('../images/lightning-bottom-right-mob-1x.png');
  background-repeat: no-repeat;
}

.results__lighting-left {
  background-image: url('../images/lightning-bottom-left-mob-1x.png');
  background-repeat: no-repeat;
  position: absolute;
  top: 323px;
  left: 0;
  width: 175px;
  height: 175px;
}

.results__request {
  margin-top: 30px;
}
